<div id="evg-hero-cta" style="background-image:url('{{imageURL}}'); color: {{textColor.hex}}; font-family: {{font}}">
    <div class="evg-content">
        <div class="evg-header">
            {{header}}
        </div>
        <div class="evg-body">
            {{bodyText}}
        </div>
        <a class="evg-cta" href="{{destinationURL}}" style="border: 2px solid {{textColor.hex}}; color: {{textColor.hex}}">
            {{ctaText}}
        </a>
    </div>
</div>