<div id="evg-hero-cta" style="background-image:url('{{imageURL}}');">
    <div class="evg-content">
        <div class="evg-header">
            {{{header}}}
        </div>
        <div class="evg-subheader">
            {{{subheader}}}
        </div>
        <a class="evg-cta" href="{{ctaUrl}}">
            {{ctaText}}
        </a>
    </div>
</div>