<div id="evg-callout" style="background-color: {{backgroundColor.hex}}; font-family: {{font}}">
    <span id="evg-callout-arrow"></span>
    <div class="evg-container">
        <h2 class="evg-description" style="color: {{mainTextColor.hex}}">{{{mainText}}}</h2>
        <a class="evg-cta" href="{{ctaURL}}" style="color: {{ctaTextColor.hex}}">
            {{{ctaText}}}
        </a>
    </div>
</div>