<div id="evg-callout" style="background-color: {{backgroundColor.hex}}; font-family: {{font}}">
    <span id="evg-callout-arrow"></span>
    <div class="evg-container">
        <h2 class="evg-description" style="color: {{bodyTextColor.hex}}">{{{bodyText}}}</h2>
        <a class="evg-link" href="{{destinationURL}}" style="color: {{linkTextColor.hex}}">
            {{{linkText}}}
        </a>
    </div>
</div>