<div id="hero-banner-contextual-bandit" data-evg-promotion-id="{{promotion.id}}" data-evg-campaign="{{campaign}}:{{experience}}" data-evg-campaign-group="test">
    <a data-evg-clickthrough href="{{promotion.attributes.url.value}}">
        <img src="{{promotionImageUrl}}"/>
    </a>
</div>
