<div id="evg-email-capture-popup">
    <div class="evg-overlay"></div>
    <div class="evg-popup" style="background-image:url('{{imageUrl}}'); color: {{textColor.hex}}; font-family: {{font}}">
        <div class="evg-content">
            <div class="evg-promo">
                {{{header}}}
            </div>
            <form id="evg-form" action="" method="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <button class="evg-cta" type="button" style="border: 2px solid {{textColor.hex}}; color: {{textColor.hex}}">
                    {{ctaText}}
                </button>
            </form>
            <div class="evg-cancel">
                {{cancelText}}
            </div>
        </div>
        <div class="evg-confirm-content evg-hide">
            <div class="evg-confirm-text">
                {{confirmationText}}
            </div>
            <div class="evg-confirm-subtext">
                {{confirmationSubtext}}
            </div>
        </div>
        <div class="evg-close">
            &times;
        </div>
    </div>
</div>