<div id="evg-email-capture-popup">
    <div class="evg-overlay"></div>
    <div class="evg-popup" style="background-image:url('{{imageUrl}}');">
        <div class="evg-content">
            <div class="evg-header">
                {{{header}}}
            </div>
            <div class="evg-subheader">
                {{{subheader}}}
            </div>
            <form class="evg-form" action="" method="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <button class="evg-cta" type="button">
                    {{{ctaText}}}
                </button>
            </form>
            <div class="evg-opt-out">
                {{{optOutText}}}
            </div>
        </div>
        <div class="evg-confirm-content evg-hide">
            <div class="evg-confirm-header">
                {{{confirmationHeader}}}
            </div>
            <div class="evg-confirm-subheader">
                {{{confirmationSubheader}}}
            </div>
        </div>
        <div class="evg-close">
            &times;
        </div>
    </div>
</div>