<div id="evg-promo-code-infobar" style="background-color: {{backgroundColor.hex}}; font-family: {{font}}">
    <div class="evg-container">
        <p class="evg-text" style="color: {{mainTextColor.hex}}">{{{mainText}}}</p>
        <a class="evg-cta" href="{{ctaURL}}" style="color: {{ctaTextColor.hex}}">
            {{{ctaText}}}
        </a>
    </div>
</div>